* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.hero-section {
    display: flex;
    padding: 0px 250px 100px 250px;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0 100px 0;
}

.logo {
    font-size: 24px;
    color:#F9FAF8;
    justify-content: flex-start;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

a {
    text-decoration: none;
}

.hero-body {
    display: flex;
}

.hero-body-left {
    flex: 1;
    flex-wrap: wrap;
}

.hero-body-right {
    flex: 1;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    padding-bottom: 8px
}

.secondary-text {
    margin: 0;
    padding-bottom: 8px;
    padding-right: 24px;
}

.secondary-text,
.header-link,
#placeholder-text
 {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button,
.call-to-action-button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 4px 24px;
    border: none;
    border-radius: 6px;
}

.hero-section,
.footer {
    background-color: #1F2937;
}

.info-section {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 0 100px 0;
}

.info-header-text {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 0;
    justify-content: center;
    padding: 32px 0;
}

.info-images {
    margin: -32px 0 0px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

.info-image-box {
    margin: 0 0 8px 0;
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 6px;
}

.info-image-text p {
    margin: 0 auto;
    width: 150px;
    text-align: center;
    color: #1F2937;
}

.testimonial-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #E5E7EB;
}

.quote-container {
    padding: 100px 0;
}

.quote p,
.quote-credit p {
    margin: 0;
    padding: 0;
}

.testimonial-section {
    padding: 100px 300px;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.quote-credit {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 500;
}